<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
   <head>
<meta charset="UTF-8">
<!-- jQuery -->
<script type="text/javascript"
   src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
   src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<link th:href="@{/assets/css/order.css}" rel="stylesheet"
   type="text/css" />

<title>order</title>
   </head>
   <body>



      <div></div>
      <section class="cart">
         <div class="cart__information"></div>
         <table class="cart__list">
            <form>
               <thead>
                  <tr>

                     <td colspan="2">상품정보</td>
                     <td>옵션</td>
                     <td>상품금액</td>
                     <td>배송비</td>
                  </tr>

               </thead>
               <tbody>

                  <tr th:each="product,productStat : ${product}"
                     class="cart__list__detail">

                     <td><img
                        th:src="@{/image/__${product.productThumbnail}__.jpg}"></td>
                     <td><a href="#">200OK 공식 브랜드스토어</a><span
                        class="cart__list__smartstore"> 스마트스토어</span>
                        <p>[[${product.productName}]]</p> <sapn class="price">[[${product.productPrice}]]원</sapn>
                     </td>
                     <td class="cart__list__option"><br>
                        <p>
                           모델명 : <span th:text="${product.productName}" id="productName"></span>
                           (상품 코드 : <span th:text="${product.productCode}"></span>) / <span
                              th:text="${quantity[__${productStat.index}__]} + '개'"></span>
                        </p> <!-- <span class= "price" th:text="${totalPrice}"></span> 원 <br> -->
                     </td>
                     <td><br>
                        <p>
                           <span th:text="${price[__${productStat.index}__]} + ' 원'">
                           </span>
                        </p></td>
                     <td>3,000원</td>
                  </tr>



               </tbody>

               <tfoot>

                  <tr>


                     <td></td>
                     <td></td>
                     <td></td>

                  </tr>
               </tfoot>
            </form>
         </table>

         <br>
         <div align="right" style="font-weight: bold; font-size: 18px;">
            총액: <span th:text="${totalPrice}" id="totalPrice">원 
         </div>

         <h3>주문자 정보 입력</h3>

         <table class="orderPerson">
            <tr>
               <td>
                  <p>
                     <span style="font-weight: bold; font-size: 1.5em;">
                        &emsp;주문자 정보&emsp;</span>
                  <hr>
                  </p>

                  <p>
                     이름 <br> <input type="text" th:value="${user?.userName}"
                        id="userName" name="userName" size="20" placeholder="이름"
                        required>
                  </p>


                  <p>
                     핸드폰 번호<br> <input type="text" th:value="${user?.userMobile}"
                        id="userMobile" name="userMobile" size="25" placeholder="모바일"
                        required>
                  </p>

                  <p>
                     이메일<br> <input type="text" th:value="${user?.userEmail}"
                        id="userEmail" name="userEmail" size="30" placeholder="이메일"
                        required> <br> <small class="c2"
                        style="font-size: 1.2em;"> 이메일을 통해 주문처리과정을 보내드립니다. 이메일
                        주소란에는 반드시 수신가능한 이메일주소를 입력해 주세요.</small><br>
                  </p>
               </td>
            </tr>
         </table>



         <h3>배송지 정보 입력</h3>

         <table class="orderPerson">
            <tr>
               <td>
                  <p>
                     <span style="font-weight: bold; font-size: 1.5em;">&emsp;배송지
                        정보&emsp;</span> <input type="checkbox" id="sameAsBilling"
                        name="sameAsBilling" onchange="clearDeliveryInfo()"> <label
                        for="sameAsBilling">새로운 배송지 입력 (기본 배송지는 마이페이지의 배송지 관리에서
                        설정 가능합니다)</label>
                  </p>
                  <hr>
                  <p>
                     받으시는 분<br> <input type="text" name="deliveryName"
                        th:value="${delivery?.deliveryName}" placeholder="이름">
                  </p>
                  <p>
                     주소<br> <input class="form-control"
                        style="width: 20%; display: inline;" placeholder="우편번호"
                        th:value="${delivery?.deliveryAdd1}" name="deliveryAdd1"
                        id="deliveryAdd1" type="text" readonly="readonly">
                     <button type="button" class="btn btn-default"
                        onclick="execPostCode();">
                        <i class="fa fa-search"></i> 우편번호 찾기
                     </button>
                  </p>
                  <p>
                     <input class="form-control" type="text" id="deliveryAdd2"
                        name="deliveryAdd2" size="30" style="display: inline;"
                        th:value="${delivery?.deliveryAdd2}" readonly="readonly"
                        placeholder="도로명 주소" required>
                  </p>
                  <p>
                     <input class="form-control" placeholder="상세주소"
                        th:value="${delivery?.deliveryAdd3}" name="deliveryAdd3"
                        size="30" id="deliveryAdd3" type="text">
                  </p>
                  <p>
                     전화번호<br> <input type="text" id="deliveryMobile"
                        th:value="${delivery?.deliveryMobile}" name="deliveryMobile"
                        size="25" placeholder="전화번호" required>
                  </p>
                  <p>
                     배송 요구 사항<br> <input type="text"
                        th:value="${delivery?.deliveryMemo}" name="request" size="80">&nbsp;<small>{0자/50자}</small>
                  </p>
                  <p id="deliveryMemo">*특정한 배송일을 지정하고자 할 경우 판매자와 연락하여 배송일을
                     확인해주시기 바랍니다.</p>
               </td>
            </tr>
         </table>
         <br>
         <h3>결제 정보 입력</h3>

         <input type="hidden" th:value="${user?.userId}" id="userId" name="userId"> 
         <input type="hidden" th:value="${totalPrice}" id="orderTotalprice" name="orderTotalprice">
         <table>

            <tr class="c1">
               <td>
                  <p>
                     &emsp;통합결제&emsp;&emsp; <input type="radio" name="paymentType"
                        value="credit" id="creditPayment"><small>신용카드(일반)</small>&emsp;&emsp;
                  </p>
                  <p>
                     &emsp;현금결제&emsp;&emsp;&nbsp; <input type="radio"
                        name="paymentType" value="cash" id="cashPayment"><small>무통장입금</small></a>&emsp;&emsp;&emsp;&nbsp;&nbsp;


                  </p>
               </td>
            </tr>
         </table>

         <br> <br> <br>

         <div class="cart__mainbtns">
            <button class="cart__bigorderbtn left">홈으로 이동하기</button>
            <!-- 
            <button class="cart__bigorderbtn right" id="btn_payment"
               onclick="if(document.getElementById('cashPayment').checked) window.location.href='/ok/order/payment'; else if(document.getElementById('creditPayment').checked) requestPay(); else alert('결제 방법을 선택해주세요.');">
               주문하기</button> -->
            <button class="cart__bigorderbtn right" id="btn_payment"
               onclick="if(document.getElementById('cashPayment').checked)  onPaymentButtonClick(); else if(document.getElementById('creditPayment').checked) requestPay(); else alert('결제 방법을 선택해주세요.');">
               주문하기</button>
            <!-- <button class="cart__bigorderbtn right" id="btn_payment" onclick="onPaymentButtonClick()">주문하기</button> -->
         </div>
         <!-- </form>   -->

         <!-- <form id="payment-form" action="/ok/order/payment" method="POST">  -->
         <!-- <input type="hidden" name="userId" th:value="${user?.userId}"> -->
         <!--  <form action="/ok/order/payment" method="POST">-->
         <!-- <input type="hidden" name="userId" th:value="${user?.userId}">
         <table>
            <tr class="c1">
               <td>
                  <p>
                     &emsp;통합결제&emsp;&emsp; <input type="radio" name="paymentType"
                        value="credit" id="creditPayment"><small>신용카드(일반)</small>&emsp;&emsp;
                  </p>
                  <p>
                     &emsp;현금결제&emsp;&emsp;&nbsp; <input type="radio"
                        name="paymentType" value="cash" id="cashPayment"><small>무통장입금</small></a>&emsp;&emsp;&emsp;&nbsp;&nbsp;


                  </p>
               </td>
            </tr>
         </table>

         <br> <br> <br>

         <div class="cart__mainbtns">
            <button class="cart__bigorderbtn left">홈으로 이동하기</button>
            <button class="cart__bigorderbtn right" id="btn_payment"
               onclick="if(document.getElementById('cashPayment').checked) window.location.href='/ok/order/payment'; else if(document.getElementById('creditPayment').checked) requestPay(); else alert('결제 방법을 선택해주세요.');">
               주문하기</button>
         </div> -->

         <!-- </form>  -->
      </section>



      <script>
         var IMP = window.IMP;
         IMP.init("imp05153660");
         var productName = $('#productName').text();
         var totalPrice = parseInt($('#totalPrice').text())
         var userEmail = $('#userEmail').val();
         var userName = $('#userName').val();
         var userMobile = $('#userMobile').val();

         function onPaymentButtonClick() {
             console.log("hi");
             var orderTotalprice = parseInt(document.getElementById('orderTotalprice').value);
             var deliveryMobile = $('#deliveryMobile').val();
             var deliveryName = document.getElementsByName('deliveryName')[0].value;
             var deliveryAdd1 = $('#deliveryAdd1').val();
             var deliveryAdd2 = $('#deliveryAdd2').val();
             var deliveryAdd3 = $('#deliveryAdd3').val();
             var deliveryMemo = $('#deliveryMemo').val();

             // 쿼리 문자열 생성
             var params = 'orderTotalprice=' + encodeURIComponent(orderTotalprice) +
                 '&deliveryMobile=' + encodeURIComponent(deliveryMobile) +
                 '&deliveryName=' + encodeURIComponent(deliveryName) +
                 '&deliveryAdd1=' + encodeURIComponent(deliveryAdd1) +
                 '&deliveryAdd2=' + encodeURIComponent(deliveryAdd2) +
                 '&deliveryAdd3=' + encodeURIComponent(deliveryAdd3) +
                 '&deliveryMemo=' + encodeURIComponent(deliveryMemo);

             // 리다이렉트 수행하기
             window.location.href = "/ok/order/payment?" + params;
         }
         
         
         
         function onPaymentapiButtonClick() {
             console.log("hi");
             var orderTotalprice = parseInt(document.getElementById('orderTotalprice').value);
             var deliveryMobile = $('#deliveryMobile').val();
             var deliveryName = document.getElementsByName('deliveryName')[0].value;
             var deliveryAdd1 = $('#deliveryAdd1').val();
             var deliveryAdd2 = $('#deliveryAdd2').val();
             var deliveryAdd3 = $('#deliveryAdd3').val();
             var deliveryMemo = $('#deliveryMemo').val();

             // 쿼리 문자열 생성
             var params = 'orderTotalprice=' + encodeURIComponent(orderTotalprice) +
                 '&deliveryMobile=' + encodeURIComponent(deliveryMobile) +
                 '&deliveryName=' + encodeURIComponent(deliveryName) +
                 '&deliveryAdd1=' + encodeURIComponent(deliveryAdd1) +
                 '&deliveryAdd2=' + encodeURIComponent(deliveryAdd2) +
                 '&deliveryAdd3=' + encodeURIComponent(deliveryAdd3) +
                 '&deliveryMemo=' + encodeURIComponent(deliveryMemo);

             // 리다이렉트 수행하기
             window.location.href = "/ok/order/paymentapi?" + params;
         }

         
         

         function requestPay() {
                IMP.request_pay({
                  pg: 'html5_inicis',
                  pay_method: 'card',
                  merchant_uid: 'merchant_' + new Date().getTime(),
                  name: productName/*상품명*/,
                  amount: totalPrice/*상품 가격*/,
                  buyer_email: userEmail/*구매자 이메일*/,
                  buyer_name: userName,
                  buyer_tel: userMobile/*구매자 연락처*/,
                }, function(rsp) {
                  var result = '';
                  if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    result = '0';

                   onPaymentapiButtonClick();
                   
                  } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                    result = '1';
                  }
                  alert(msg);
                });
              }

         function clearDeliveryInfo() {
            if (document.getElementById('sameAsBilling').checked) {
               document.getElementsByName('deliveryName')[0].value = '';
               document.getElementById('deliveryAdd1').value = '';
               document.getElementById('deliveryAdd2').value = '';
               document.getElementById('deliveryAdd3').value = '';
               document.getElementById('deliveryMobile').value = '';
               document.getElementsByName('request')[0].value = '';
            }
         }
         
         
         
         
         
       //도로명api
         function execPostCode() {
             new daum.Postcode({
                 oncomplete: function(data) {

                    var fullRoadAddr = data.roadAddress;
                    var extraRoadAddr = ''; // 

                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }
                    if(fullRoadAddr !== ''){
                        fullRoadAddr += extraRoadAddr;
                    }

                    console.log(data.zonecode);
                    console.log(fullRoadAddr);
                    
                    
                    $("[name=deliveryAdd1]").val(data.zonecode);
                    $("[name=deliveryAdd2]").val(fullRoadAddr);
                    
                   
                }
             }).open();
         }
         
         
         
         
         
         
         
         
         
      </script>


   </body>
</th:block>
</html>