<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/layout}">
				
<th:block layout:fragment="content">
<head>

<link th:href="@{/assets/css/success-payment.css}" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<br><br><br><br><br>


<div class="task" id="task2" >
  <ul>
    <li>
     <br><br>
      <div align="center"><span style="font-weight: bold;font-size: 30px;">
      	🚚 고객님의 주문이 완료 되었습니다
      </span><br></div>
      <br>
     <div align="center"><span style="font-weight: bold;font-size: 20px;">
      	*주문내역은 마이페이지에서 확인가능합니다
      </span><br></div>

      <br><br>
     
    </li>
  </ul>
</div>


</body>
</th:block>
</html>