<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/layout}">
				
<th:block layout:fragment="content">
<head>

<link th:href="@{/assets/css/poduct-detail.css}" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


	
	<br><br><br><br><br><br>
	
	<div align="center">
	<p style="font-size: 1.1rem;" >
	<h1>주문 완료</h1>
	</p>
	
	<br><br>
	
	<button>Main</button>
	</div>
	
	<br><br><br><br><br><br>
	

</body>
</th:block>
</html>