<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/layout}">
				
<th:block layout:fragment="content">
<head>
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
</head>
<body>


<section class="notice">
 
<br><br><br><br><br>
  <!-- board detail area -->
  
  
<section class="notice">
 
<br><br><br><br><br>
  <!-- board detail area -->
  <div align="center" style="padding-left: 400px; padding-right: 400px;">
  	<span style="font-size: 20px; font-weight: bold;" th:text="${notice[0].noticeTitle}">
  	</span>
  	
    <hr style="border-width: 1px; margin-top: 15px;">
    <br>
	<span style="font-size: 15px;" th:utext="${notice[0].noticeContent}">
  	</span>
  	
  	<br><br><br>
  	<form th:action="@{/notice/delete}" method="GET" style="display: inline-block;">
  <input type="hidden" name="noticeNo" th:value="${notice[0].noticeNo}">
  <button type="submit">삭제</button>
</form>

<form th:action="@{/notice/updateform}" method="GET" style="display: inline-block;">
  <input type="hidden" name="noticeNo" th:value="${notice[0].noticeNo}">
  <button type="submit">수정</button>
</form>
</div>

<br>


</section>

<!--   <div id="board-list">
    <div class="container1">
    
<table class="board-table" align="center" cellpadding="5" cellspacing="2" width="60%"
			border='1'>

			 <tr>
			    <td width="100" height="20">
			        <p align="right">
			            <b><span style="font-size: 12pt;">작성일</span></b>
			        </p>
			    </td>
			    <td width="450" height="20" colspan="3">
			    <span style="font-size: 12pt;"><b th:text="${notice[0].noticeRegdate}"></b></span></td>
			</tr> 
			<tr>
			<tr>
			    <td width="100" height="20">
			        <p align="right">
			            <b><span style="font-size: 12pt;">제 목</span></b>
			        </p>
			    </td>
			    <td width="450" height="20" colspan="3"><span
			            style="font-size: 12pt;"><b th:text="${notice[0].noticeTitle}"></b></span></td>
			</tr>
			
			
			 <tr>
			    <td width="100" height="200" valign="top">
			        <p align="right">
			            <b><span style="font-size: 12pt;">내 용</span></b>
			        </p>
			    </td>
			
			    <td width="450" height="200" valign="top" colspan="3"><span
			            style="font-size: 12pt;"><b th:utext="${notice[0].noticeContent}"></b></span></td>
			</tr>
			<td height="20" colspan="4" align="center" valign="middle">
			버튼 누르면 삭제 메시지 출력되도록 메시지 보내기 필요함
			<form th:action= @{/notice/delete} method="GET">
      			<input type="hidden" name="noticeNo" th:value="${notice[0].noticeNo}">
  			<button type="submit">삭제</button>
  			</form>
  			
			<form  th:action= @{/notice/updateform} method="GET">
      			<input type="hidden" name="noticeNo" th:value="${notice[0].noticeNo}">
  			<button type="submit">수정</button>
  			</form>


					</td>
		</table>
		
    </div>
    
</div> -->
<br>


</section>

</body>
</th:block>
</html>