<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/layout}">
				
<th:block layout:fragment="content">
<head>
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
</head>
<body>


<section class="notice">
 
<br><br><br><br><br>
  <!-- board detail area -->
  <div align="center" style="padding-left: 400px; padding-right: 400px;">
  	<span style="font-size: 20px; font-weight: bold;" th:text="${notice[0].noticeTitle}">
  	</span>
  	
    <hr style="border-width: 1px; margin-top: 15px;">
    <br>
	<span style="font-size: 15px;" th:utext="${notice[0].noticeContent}">
  	</span>
</div>

<br>


</section>

</body>
</th:block>
</html>