<<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="../assets/css/login.css" />
<style>
main {
	margin-top: 5rem;
}

h2 {
	padding-bottom: 10px;
	font-size: 30px;
}

.form-wrapper {
	text-align: center;
	margin: 100px auto;
}

#joinForm {
	width: 700px;
	margin: 50px auto;
}

.input-wrapper {
	margin-top: 20px;
	margin-left: 180px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
}

#joinForm input {
	height: 35px;
}

#btnJoin {
	width: 150px;
	height: 40px;
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="entire-wrap">

		<main>
			<div class="form-wrapper">
				<form id="joinForm" action="join" method="post">
					<h2>Account</h2>

					<br>
					<br>
					<h3>기본정보</h3>
					<h6 align="right" style="font-size: 6">*필수입력사항</h6>
					<div class="input-area">
						<div class="input-wrapper">
							<label for="userId">*ID</label>
						</div>
						<div>
							<input type="text" id="userId" name="userId" size="38"
								placeholder="영문소문자, 숫자 조합으로 4~16자리" required>
							<button type="button" id="btnIdCheck"
								style="width: 70px; height: 40px;">중복체크</button>
						</div>
						<p id="idValidation" style="color: red; font-size: 0.5rem;">
							아이디는 영문소문자, 숫자 조합의 4~16자리로 설정해주세요.</p>
						<div class="input-wrapper">
							<label for="userPwd">*Password</label>
						</div>
						<div>
							<input type="password" id="userPwd" name="userPw" size="50"
								placeholder="영문대소문자, 숫자, 특수문자 2가지 이상 조합으로 8~16자리" required>
						</div>
						<p id="pwValidation" style="color: red; font-size: 0.5rem;">
							비밀번호는 영문대소문자, 숫자, 특수문자 2가지 이상 조합의 8~16자리로 설정해주세요.</p>
						<div class="input-wrapper">
							<label for="userPwCheck">비밀번호 확인</label>
						</div>
						<div>
							<input type="password" id="userPwCheck" name="userPwCheck"
								size="50" placeholder="영문대소문자, 숫자, 특수문자 2가지 이상 조합으로 8~16자리"
								required>
						</div>
						<br>
						<p id="pwCheckResult" style="font-size: 0.8rem;"></p>
						<div class="input-wrapper">
							<label for="userName">*Name</label>
						</div>
						<div>
							<input type="text" id="userName" name="userName" size="50"
								placeholder="이름" required>
						</div>
						<div class="input-wrapper">
							<label for="userAddress">*Address</label>
						</div>
						<div>
							<input type="text" id="userAddress" name="userAddress" size="50"
								placeholder="주소" required>
						</div>

						<div class="input-wrapper">
							<label for="userMobile">*Mobile</label>
						</div>
						<div>
							<input type="text" id="userMobile" name="userMobile" size="50"
								placeholder="모바일" required>
						</div>
						<div class="input-wrapper">
							<label for="userPhone">Phone</label>
						</div>
						<div>
							<input type="text" id="userPhone" name="userPhone" size="50"
								placeholder="전화" required>
						</div>
						<div class="form-group last mb-4 email_input">
							<label for="userEmail" id="userEmail">*Email</label> <input
								type="text" class="form-control" name="userEmail" id="userEmail">
						</div>
						<button class="btn btn-outline-primary" type="button"
							id="checkEmail">인증번호</button>
						<div class="form-group last mb-4 check_input">
							<label for="userEmailconfirm" id="userEmailconfirmTxt">인증번호를
								입력해주세요</label> <input type="text" class="form-control"
								id="userEmailconfirm">
						</div>

						<br>
						<div style="display: block; margin: 20px auto;">
							<button type="submit" id="btnJoin">Create Account</button>
						</div>
					</div>
				</form>
			</div>
		</main>
			
	</div>

</body>
</html>