<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/layout}">
				
<th:block layout:fragment="content">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=3.0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css" />
<title>Error</title>
<style type="text/css"></style>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	
	
	<br><br><br><br><br><br>
	
	<div align="center">
	<p style="font-size: 1.1rem;" >
	<h1>Error</h1>
    <p th:utext="${errorMessage}"></p>
	</p>
	
	<br><br>
	
	<button>Main</button>
	</div>
	
	<br><br><br><br><br><br>
	
</body>
</html>