<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
<link rel="stylesheet" href="assets/css/main.css" />
<title>bonus</title>
<style type="text/css"></style>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
	
</script>
</head>
<body>
	<!--사이드바-->
	<div class="fx">
		<a href="#"> <img src="https://www.slou.co.kr/img/front/btn/cartBtn.png" width="50"></a>
		<a href="#"><img src="https://www.slou.co.kr/img/front/btn/searchBtn.png" width="50"></a>
		
	</div>
	<!--title-->
	<div class="d-box"
		style="background-image: url('https://images.unsplash.com/photo-1516404813354-243addcc4762?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80'); background-size: cover; background-repeat: no-repeat; height: 800px; background-position: center;">
		<div class="titl">
			<div style="float: left; margin: 0 20px;">
			
				<!-- 수정 필요 ! 비회원 -> index.html / 회원 관리자 로그인시 main.html로 넘어가도록 -->
				<a href="index/logo"><img src="image/logo.png" width="70"></a>
				
			</div>
			<ul class="f-list">
				<li><a href="#">Best</a></li>
				<li><a href="#">Products</a>
					<ul class="list-s">
						<li style="font-size: 0.8rem;"><a href="#">ring</a></li>
						<li style="font-size: 0.8rem;"><a href="#">bracelet</a></li>
						<li style="font-size: 0.8rem;"><a href="#">necklace</a></li>
						<li style="font-size: 0.8rem;"><a href="#">earing</a></li>
						<li style="font-size: 0.8rem;"><a href="#">watch</a></li>
						<li style="font-size: 0.8rem;"><a href="#">object</a></li>
					</ul></li>
				<li><a href="#">QnA</a></li>
				<li><a href="#">Notice</a></li>
			</ul>
			<ul class="s-list">
				<li><a href="#">찜하기</a></li>
				<li><a href="#">장바구니</a></li>
				<li><a href="#">검색</a></li>
				<li><a href="mypage/home">마이페이지</a></li>
				<li><a href="user/logout">로그아웃</a></li>
				<li><a href="user/kakaologoutterm">카카오로그아웃</a></li>
				<!--  <li><a href= "error">error</a></li> -->
				
			</ul>
		</div>
		<!-- <div class="story">
			<h1>Brand Story</h1>
			<h4>같은 시간을 자더라도 더 깊게, 더 편하게, 더 깨끗하게</h4>
			
		</div> -->
	</div>

	<!--section1-->
	<div class="dd-box" style="margin-top: 80px;">
		<div class="fs-f">
			<a href="#"><img
				src="https://images.unsplash.com/photo-1553670092-786cf228510b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
				width="630">
				<p>
					<span class="best">New</span> <br>단잠키트</a>
		</div>
		<div class="fs-s">
			<a href="#"><img
				src="https://images.unsplash.com/photo-1547104442-e19471629c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
				width="530px">
				<p>
					<span class="best">Best</span> <br>토퍼 매트리스 프리미엄 10.0</a>
		</div>
		<pre>
    
    </pre>
		<div class="fs-t">
			<a href="#"><img
				src="https://images.unsplash.com/photo-1545767676-8887f84328a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
				width="1000">
				<p>
					<span class="best">Best</span> <br>모션 매트리스</a>
		</div>
	</div>
	<!--section2-->
	<div class="dd-box">
		<div class="text">
			<hr>
			<h2>Reviews</h2>
		</div>
		<div class="rev">
			<a href="#">
				<div class="mat">
					<img
						src="https://images.unsplash.com/photo-1547104443-442a7698bac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
						width="200"> <br> <img
						src="https://www.slou.co.kr/upload/20181108/e4076d92-2a71-436d-a0b2-d576dc438d3f.svg"
						width="80"><br>
					<h5>• 토퍼 매트리스 오리지널 8.0</h5>
					바닥에서 사용할 거라 걱정했는데 토퍼가 무게감이 있어서 밀리지도 않고 좋아요! 부드럽고 몸에 감기는 느낌에 푹 잘
					잤어요. 커버 색상도 무난하고 고급스러워 보여 추천합니다!
					<p>
						<small>hu*</small>
				</div>
				<div class="mat">
					<img
						src="https://images.unsplash.com/photo-1552093349-acc09f48829d?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
						width="200"><br> <img
						src="https://www.slou.co.kr/upload/20181108/18b11f62-6c9d-4fd2-be82-ca33b0f3e0a6.svg"
						width="80"><br>
					<h5>• 매트리스(2018)</h5>
					트윈으로 사서 나란히 두고 사용하고 있습니다. 여러 제품 중 고민하다 결정했는데 쿠션감이 좋아 만족스럽습니다. 다른
					것보다 커버가 지퍼로 되어있어 세탁이 편리한 점이 마음에 듭니다. 커버도 부드럽고요. 고양이도 좋아합니다.
					<p>
						<small>wi*</small>
				</div>
				<div class="mat">
					<img
						src="https://images.unsplash.com/photo-1520525655630-cacfdb0b661e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
						width="200"><br> <img
						src="https://www.slou.co.kr/upload/20181108/e4076d92-2a71-436d-a0b2-d576dc438d3f.svg"
						width="80"><br>
					<h5>• 토퍼 매트리스 프리미엄 10.0</h5>
					반려견이 나이가 들어가면서 기존 매트리스는 너무 높아 올라오기 힘들어했어요. 낮은 매트리스를 고르다 슬로우 토퍼를 알게
					되었어요. 7cm를 사려고 했는데 매트리스 생활을 해왔던 우리 부부도 고려해 10cm를 사게 되었어요. 박스에서 꺼내
					바로 쓸수있는데 포장이 청결하고 꼼꼼하게 잘 되어 있고 냄새도 전혀 안나요. 방수커버도 잘 되어 있고 면커버도 질이
					좋습니다. 매우 만족합니다!!
					<p>
						<small>고승*</small>
				</div>
				<div class="mat">
					<img
						src="https://images.unsplash.com/photo-1545239351-7c17b9b9e33d?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
						width="200"><br> <img
						src="https://www.slou.co.kr/upload/20181108/18b11f62-6c9d-4fd2-be82-ca33b0f3e0a6.svg"
						width="80"><br>
					<h5>• 매트리스 (2018)</h5>
					슬로우 사용한지 벌써 한달이 넘어가네요. 그전에는 잠도 설치고 어깨도 아프고 아침에 일어나면 몸이 찌뿌둥했는데, 슬로우
					쓰고서 편안하게 잘 자고 있어요~ 몸도 가벼운 느낌이에요 ㅎㅎ
					<p>
						<small>이현*</small>
				</div>
			</a>
		</div>
		<div class="revw">
			<center>
				<span class="best">Thanks</span> <br>
				<h3>Dear, Slou Moment</h3>
				<p>
					<span class="d-button"><a href="#">See All Reviews</a></span>
			</center>
		</div>
	</div>

	<!--section3-->
	<div class="dd-box" style="height: 650px;">
		<div class="tri">
			<a href="#">
				<div class="tex">
					<hr>
					<h2>Tribe</h2>
				</div>
				<div class="im">
					<img
						src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
						width="450" height="300">
					<p>
					<div style="font-size: 1.2em;">Slou TRIBE #1 가고파.그.집</div>
					<small>인위적이지 않은 자연 그대로의 휴식, 사방에서 자연을 만끽할 수 있는 가고파. 그. 집.</small>
					<p>
					<div class="dd-button">More</div>
			</a>
		</div>
	</div>
	<div class="tri">
		<a href="#">
			<div class="tex">
				<hr>
				<h2>Lab</h2>
			</div>
			<div class="im">
				<img
					src="https://images.unsplash.com/photo-1554393180-90fd0e2b810e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
					width="450" height="300">
				<p>
				<div style="font-size: 1.2em;">슬로우는 깨끗하고 안전합니다.</div>
				<small>라돈 걱정 ZERO, 세상에서 가장 깨끗한 매트리스</small>
				<p>
				<div class="dd-button">More</div>
		</a>
	</div>
	</div>
	</div>


	
	<!--footer1-->
	<div class="d-box" style="background-color: #eee; padding: 30px 0px;">
		<div class="dd-box">
			<div class="container">
				<div class="con1">
					고객센터
					<hr>
					<p style="font-size: 1.1rem;">
						1600-0000<br> 
						<!-- <a href="#">카카오톡 플러스 친구</a> -->
					</p>
					<small>제품문의 · </small>
					<p>평일 09:30 - 17:30 | 점심시간 12:30 - 13:30
				</div>
				<div class="con2">
					기업고객 문의
					<hr>
					<p style="font-size: 1.1rem;">
						02-2222-22222<br> <a href="#">help@200OK.com</a>
					</p>
					<p>평일 10:30 - 17:30 | 점심시간 12:00 - 13:00
				</div>
				<div class="con3">
					Quick Menu
					<hr>
					<a href="#"> About US</a><br>
					<a href="#" style="font-weight: bold;">개인정보처리방침</a><br>
					<a href="#">이용약관</a>
				</div>
				<div class="con4">
					(주)200OK | 대표이사 · 김행운 | 서울특별시 영등포구 hta로 200OK <br>
					1600-0000 | <a href="#">luckyham@200OK.com</a> | 사업자등록번호 ·
					000-00-0000
					<p>
						통신판매업신고 · 2023-서울송파-0000호 | 부가통신사업신고필증 · 000000 <br> 
						개인정보보호 및 청소년보호 책임자 · 김행운 
					<p>Copyright (c) 2023 200OK Inc. All rights reserved
					<p>
				</div>
			</div>
		</div>
	</div>

	<!--footer2-->
	<div class="d-box" style="background-color: #bbb;">
		
			<div calss="foo">
				<div class="foo-ic">
					<a href="#"><img
						src="https://www.slou.co.kr/img/front/main/video.png"></a>
				</div>
				<div class="foo-ic">
					<a href="#"><img
						src="https://www.slou.co.kr/img/front/main/blog.png"></a>
				</div>
				<div class="foo-ic">
					<a href="#"><img
						src="https://www.slou.co.kr/img/front/main/facebook.png"></a>
				</div>
				<div class="foo-ic">
					<a href="#"><img
						src="https://www.slou.co.kr/img/front/main/instagram.png"></a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>